[submodule "Vendor/InsiderPagesKit"]
	path = Vendor/InsiderPagesKit
	url = git://github.com/jstart/InsiderPagesKit.git
[submodule "Vendor/Localytics"]
	path = Vendor/Localytics
	url = https://github.com/samsoffes/localytics-ios.git
[submodule "Vendor/SSToolkit"]
	path = Vendor/SSToolkit
	url = https://github.com/samsoffes/sstoolkit.git
[submodule "Vendor/TTTAttributedLabel"]
	path = Vendor/TTTAttributedLabel
	url = https://github.com/mattt/TTTAttributedLabel.git
[submodule "Vendor/SSPullToRefresh"]
	path = Vendor/SSPullToRefresh
	url = https://github.com/samsoffes/sspulltorefresh.git
[submodule "Vendor/facebook-ios-sdk"]
	path = Vendor/facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
[submodule "Vendor/nimbus"]
	path = Vendor/nimbus
	url = git://github.com/jverkoey/nimbus.git
[submodule "Vendor/Development"]
	path = Vendor/Development
	url = git://github.com/domesticcatsoftware/DCIntrospect.git
[submodule "Vendor/Development/DCIntrospect"]
	path = Vendor/Development/DCIntrospect
	url = git://github.com/domesticcatsoftware/DCIntrospect.git
[submodule "Vendor/sockit"]
	path = Vendor/sockit
	url = git://github.com/jverkoey/sockit.git
[submodule "Vendor/UIExpandableTableView"]
	path = Vendor/UIExpandableTableView
	url = git://github.com/OliverLetterer/UIExpandableTableView.git
[submodule "Vendor/YIFullScreenScroll"]
	path = Vendor/YIFullScreenScroll
	url = git@github.com:jstart/YIFullScreenScroll.git
[submodule "Vendor/ViewDeck"]
	path = Vendor/ViewDeck
	url = git://github.com/Inferis/ViewDeck.git
[submodule "Vendor/UIResponder-KeyboardCache"]
	path = Vendor/UIResponder-KeyboardCache
	url = git://github.com/mbrandonw/UIResponder-KeyboardCache.git
[submodule "Vendor/RCLocationManager"]
	path = Vendor/RCLocationManager
	url = git://github.com/rcabamo/RCLocationManager.git
[submodule "Vendor/SVPullToRefresh"]
	path = Vendor/SVPullToRefresh
	url = git://github.com/samvermette/SVPullToRefresh.git
[submodule "Vendor/JSInfiniteScrollView"]
	path = Vendor/JSInfiniteScrollView
	url = git@github.com:jstart/JSInfiniteScrollView.git
[submodule "Vendor/iCarousel"]
	path = Vendor/iCarousel
	url = git@github.com:jstart/iCarousel.git
[submodule "Vendor/Development/PonyDebugger"]
	path = Vendor/Development/PonyDebugger
	url = git://github.com/square/PonyDebugger.git
[submodule "Vendor/Production/SDURLCache"]
	path = Vendor/Production/SDURLCache
	url = git://github.com/rs/SDURLCache.git
[submodule "Vendor/Production/FireUIPagedScrollView"]
	path = Vendor/Production/FireUIPagedScrollView
	url = git://github.com/firebaseco/FireUIPagedScrollView.git
[submodule "Vendor/Production/IADisquser"]
	path = Vendor/Production/IADisquser
	url = git@github.com:jstart/IADisquser.git
[submodule "Vendor/Production/JCGridMenu"]
	path = Vendor/Production/JCGridMenu
	url = git://github.com/joecarney/JCGridMenu.git
[submodule "Vendor/Production/OHAttributedLabel"]
	path = Vendor/Production/OHAttributedLabel
	url = git://github.com/AliSoftware/OHAttributedLabel.git
[submodule "Vendor/Development/AFHTTPRequetOperationLogger"]
	path = Vendor/Development/AFHTTPRequetOperationLogger
	url = git://github.com/AFNetworking/AFHTTPRequestOperationLogger.git
[submodule "Vendor/Production/JMStaticContentTableViewController"]
	path = Vendor/Production/JMStaticContentTableViewController
	url = git://github.com/jakemarsh/JMStaticContentTableViewController.git
[submodule "Vendor/Development/iOS-HierarchyViewer"]
	path = Vendor/Development/iOS-HierarchyViewer
	url = git://github.com/glock45/iOS-Hierarchy-Viewer.git
[submodule "Vendor/Production/NYXImagesKit"]
	path = Vendor/Production/NYXImagesKit
	url = git://github.com/Nyx0uf/NYXImagesKit.git
[submodule "Vendor/Production/PSTCollectionView"]
	path = Vendor/Production/PSTCollectionView
	url = git://github.com/steipete/PSTCollectionView.git
[submodule "Vendor/Production/iCarousel"]
	path = Vendor/Production/iCarousel
	url = git://github.com/nicklockwood/iCarousel.git
