[submodule "Vendor/InsiderPagesKit"]
	path = Vendor/InsiderPagesKit
	url = git@github.com:jstart/InsiderPagesKit.git
[submodule "Vendor/Localytics"]
	path = Vendor/Localytics
	url = https://github.com/samsoffes/localytics-ios.git
[submodule "Vendor/SSToolkit"]
	path = Vendor/SSToolkit
	url = https://github.com/samsoffes/sstoolkit.git
[submodule "Vendor/TTTAttributedLabel"]
	path = Vendor/TTTAttributedLabel
	url = https://github.com/mattt/TTTAttributedLabel.git
[submodule "Vendor/SSPullToRefresh"]
	path = Vendor/SSPullToRefresh
	url = https://github.com/samsoffes/sspulltorefresh.git
[submodule "Vendor/facebook-ios-sdk"]
	path = Vendor/facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
[submodule "Vendor/nimbus"]
	path = Vendor/nimbus
	url = https://github.com/jverkoey/nimbus.git
[submodule "Vendor/Development"]
	path = Vendor/Development
	url = git://github.com/domesticcatsoftware/DCIntrospect.git
[submodule "Vendor/Development/DCIntrospect"]
	path = Vendor/Development/DCIntrospect
	url = git://github.com/domesticcatsoftware/DCIntrospect.git
[submodule "Vendor/sockit"]
	path = Vendor/sockit
	url = git://github.com/jverkoey/sockit.git
[submodule "Vendor/UIExpandableTableView"]
	path = Vendor/UIExpandableTableView
	url = git://github.com/OliverLetterer/UIExpandableTableView.git
[submodule "Vendor/YIFullScreenScroll"]
	path = Vendor/YIFullScreenScroll
	url = git://github.com/inamiy/YIFullScreenScroll.git
[submodule "Vendor/ViewDeck"]
	path = Vendor/ViewDeck
	url = git://github.com/Inferis/ViewDeck.git
[submodule "Vendor/UISS"]
	path = Vendor/UISS
	url = git@github.com:jstart/UISS.git
